psycopg2==2.7.1
dj_database_url
Django==2.1.2
gunicorn==19.1.0
whitenoise==3.3.0
django-rest-marshmallow
djangorestframework
requests
google-cloud-datastore
google-api-python-client
google-cloud-bigquery
google-cloud-vision
google-cloud-language
google-cloud-logging
